.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.DS_Store
/.quarto/
/_freeze/
_site/site_libs/
posts/Storm_Prediction_Center/data/
posts/EV_station_mapping/data/
.vscode/
posts/EV_station_mapping/ev_station_mapping/data/
posts/Ember_US_Electric_Total/data/
posts/EIA_degree_days/data/
*.html